<div class="user form">
<?= $this->Flash->render('auth'); ?>
<?= $this->Form->create('User'); ?>
    <fieldset>
        <legend>
            <?= __('Please enter your username and password'); ?>
        </legend>
        <?php 
        echo $this->Form->input('username',['style'=>'width:300px; height:20px;']);
        echo $this->Form->input('password',['style'=>'width:300px; height:20px;']);
    
        echo $this->Form->end(__('Login')); 
        echo $this->Html->link(__('Sign Up'), ['controller' => 'users', 'action' => 'add']); 
        ?>
        
    </fieldset>


